#prehled {
  display: grid;
}

#tab-tymy input[type="radio"] {
  display: none;
}

.name {
  font-size: 150%;
}

.details, #prehled {
  grid-template-columns: max-content auto;
  grid-gap: .5em 1em;
  margin: .5em;
}

.expand {
  display: none;
}

.expanded {
  display: none;
}

.expand-all:checked ~ * .expanded,
.expand:checked + .expanded {
  display: grid;
}

.team-record {
  margin-top: .5em;
}

.team-record[data-hidden] .name {
  text-decoration: line-through;
  color: #808080;
}

.team-record[data-status="paid"] .name {
  color: green;
}

.team-record[data-status="backup"] .name {
  color: red;
}

[data-id="phone"], [data-id="email"] {
  user-select: all;
}

#resty {
  margin-top: -.5em;
  margin-bottom: 1.5em;
}

button {
  padding: .2em;
  margin: .5em;
}

#kriteria {
  display: grid;
  margin-top: -1em;
  grid-template-columns: min-content max-content;
  grid-gap: .3em;
}

#kriteria label {
  display: contents;
}

#eml-list {
  user-select: all;
}

.team-hra {
  max-width: 30em;
}

.historie-div {
  display: grid;
  grid-auto-rows: 1.5em;
  grid-template-columns: 6ch auto 7ch;
  max-width: 30em;
}

.historie-div > div {
  display: contents;
}

.historie-div > .strike * {
  color: var(--c-weak);
  text-decoration: line-through;
}

[data-id="hra-reset"] {
  margin: 0 auto;
}
